<% include ./partials/header.ejs %>

    <div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
        <div class="cards flex flex-wrap gap-10">
            <% posts.forEach(function(elem){ %>
                <div class=" card w-32 ">
                    <h5 class="mt-2 text-xs">
                        User Name: </br>
                        <%= elem.user.username %>
                    </h5>
                    <div class=" w-full h-40 bg-zinc-700 rounded-lg overflow-hidden mt-1">
                        <img src="/images/uploads/<%= elem.image %>" class="w-full h-full object-cover" alt="">
                    </div>
                    <h5 class="mt-2 text-xs">
                    Title:</br>    <%= elem.title %>
                    </h5>
                <h5 class="mt-2 text-xs">
                    Description: </br>
                    <%= elem.description %>
                </h5>
                    </div>
                
                <% }) %>
        </div>
        </div>
    

    <% include ./partials/footer.ejs %>